<div class="nav-bar">
  <div class="nav-bar-content">
    <div class="left">
      <a href="#!/home"><img src="logo.png"></a>
      <a href="#!/instruments/guitars">
        <h1>Guitars</h1>
      </a>
      <a href="#!/instruments/basses">
        <h1>Basses</h1>
      </a>
      <a href="#!/instruments/drums">
        <h1>Drums</h1>
      </a>
    </div>
    <div class="middle">
      <h1 ng-show="logedAc===''" ng-click="loginShow(true)">Sign in</h1>
      <h1 ng-show="logedAc!==''" ng-click="loginFunc('')">Sign out</h1>
      <h1 ng-click="registerShow(true)">Sign up</h1>
      <h1>{{logedAc}}</h1>
    </div>
    <div class="right">
      <a href="#!/cart">
        <div ng-show="logedAc!==''" class="green-cart">
          <img src="cart.png">
          <h1>Cart ({{cartSum | currency: '€'}})</h1>
        </div>
      </a>
    </div>
  </div>
</div>