@import 'views/account', 'views/details', 'views/home', 'views/instruments', 'views/ordering','views/nav-bar', 'global';
body{
    margin:0;
    font-family: 'Lato', sans-serif;
    overflow-x: hidden;
}
a{
    text-decoration: none;
}
.main,
.cart{
    width:100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 2rem;
}
.cart{
    flex-direction: column;
}

.loading{
    top:0;
    left:0;
    position: absolute;
    width:100vw;
    height: 100vh;
    display: flex;
    background-color: white;
    align-items: center;
    justify-content: center;
    z-index:10;
}
.loading img{
    width:1rem;
    height: 1rem;
}