.details{
    width:100vw;
    @include flex();
    padding-top: 2rem;
}
.details-display{
    width:70%;
    @include flex(center,center,column);
    h2{
        font-size: 2rem;
        text-align: center;
        text-transform: uppercase;
        width:100%;
        border-bottom: 3px solid $second-color;
    }
}
.line{
    display: flex;
    width:100%;
    align-items: center;
    h2{
        border: 0;
        font-size: 1.5rem;
    }
    .left,
    .right,
    .price-left{
        width:50%;
        @include flex(center,center,column);
    }
    .right{
        align-items: flex-start;
        padding: 0 2rem;
        h1{
            font-size: 1.2rem;
            margin:1rem 0;
        }
    }
    .left{
        img{
            width: 25rem;
            height: 25rem;
        }
    }
    
}
#left-border{
    border-left: 1px solid rgb(218, 218, 218);
}
