
  <div class="home">
    <div ng-controller="CarouselDemoCtrl">
      <carousel carousel-controls interval="5000">
        <slide ng-repeat="slide in slides" active="slide.active">
          <img ng-src="{{slide.image}}" class="main-image">
          <div class="carousel-caption">
            <p>{{slide.text}}</p>
          </div>
        </slide>
      </carousel>
      <hr>
      <p class="text-center">Access the carousel from the controller:</p>
      <ul class="carousel-thumbs">
        <li class="carousel-thumb" ng-repeat="thumb in slides" ng-click="setActiveSlide($index)" style="background-image: url({{thumb.image}}); width: {{100/slides.length}}%">{{thumb.text}}</li>
      </ul>
      <div class="clearfix"></div>
      <div class="text-center" style="margin-top:20px;">
        <button class="btn btn-primary" ng-click="getActiveSlide()">Get Active Slide</button>
        <button class="btn btn-primary" ng-click="goPrev()">Previous</button>
        <button class="btn btn-primary" ng-click="goNext()">Next</button>
      </div>
    </div>
  </div>
