.filters-line {
    width: auto;
    display: flex;
    align-items: center;
    border-bottom: 3px solid $second-color;
    h2 {
        width: auto;
        font-size: 3rem;
        margin:0;
        margin: 1rem 0;
        margin-right: 2rem;
    }
    select,
    input {
        background-color: $inputs-bg;
        width: 10rem;
        height: 1.5rem;
        border-radius: 5px;
        padding:0 0.2rem;
        border: 1px solid $main-color;
        margin-right: 2rem;
        &:focus {
            background-color: white;
        }
    }
}
.main-display {
    @include flex(center,flex-start,column);
}
.instrument {
    width: 13rem;
    height: 18rem;
    @include flex(center,center,column);
    margin: 1rem 1rem;
    img {
        height: 10rem;
        width: 10rem;
    }
    h1 {
        padding: 0 1rem;
        font-size: 1rem;
        text-transform: uppercase;
        color: black;
        margin: 0;
        &:hover{
            text-shadow: 0px 0px 1px $main-color;
        }
    }
    h2 {
        font-size: 1.4rem;
        color: green;
    }
}
.one-line {
    @include flex(flex-start,center,row);
    width: 100%;
    button {
        border: 0;
        background-color: $main-color;
        height: 1rem;
        width: 1rem;
        clip-path: polygon(
            20% 0%,
            0% 20%,
            30% 50%,
            0% 80%,
            20% 100%,
            50% 70%,
            80% 100%,
            100% 80%,
            70% 50%,
            100% 20%,
            80% 0%,
            50% 30%
        );
        &:hover {
            cursor: pointer;
        }
    }
    h2 {
        padding: 0 1rem;
    }
    img {
        margin-left: 0.5rem;
        width: 1.5rem;
        height: 1.5rem;
        &:hover {
            cursor: pointer;
        }
    }
}
.instruments{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
}
@media only screen and (max-width: 1400px) {
    .instrument{
        width:10rem;
        height:12rem;
    }
    .instrument img{
        height:auto;
        width: 8rem;
    }
    .instrument h1{
        font-size: 0.7rem;
    }
    .instrument h2{
        font-size: 1rem;
    }
    .filters-line h2{
        font-size: 2rem;
    }
    .filters-line select,
    .filters-line input{
        margin-right: 1rem;
    }
    .one-line img{
        height:1rem;
        width:1rem;
    }
}
@media only screen and (max-width: 1100px) {
    .instruments{
        grid-template-columns: auto auto auto auto;
    }
}
@media only screen and (max-width: 850px) {
    .instruments{
        grid-template-columns: auto auto auto;
    }
    .filters-line select,
    .filters-line input{
        width:8rem;
    }
}
@media only screen and (max-width: 650px) {
    .instrument{
        width: 8rem;
    }
    .filters-line select,
    .filters-line input{
        width:6rem;
        font-size: 0.8rem;
    }
    .filters-line h2{
        margin-right: 1rem;
    }
}
@media only screen and (max-width: 510px) {
    .instruments{
        grid-template-columns: auto auto;
    }
    .filters-line{
        flex-direction: column;
        align-items: center;
        width:100%;
        border: 0;
    }
    .filters-line select,
    .filters-line input{
        margin: 0.5rem 0;
        width:8rem;
    }
}