.nav-bar {
    background-color: black;
    color: white;
    width: 100vw;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 3px solid $main-color;
    h1 {
        &:hover {
            cursor: pointer;
            text-shadow: 1px 1px 10px $main-color;
        }
    }
    .left {
        img {
            margin-top: 1rem;
            transform: rotate(-30deg);
            height: 7rem;
            width: 7rem;
        }
    }
}
.nav-bar-content {
    width: 60%;
    height: 100%;
    display: flex;
    a {
        text-decoration: none;
        color: white;
    }
}
.left,
.right,
.middle {
    width: 33%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.left,
.middle {
    h1 {
        margin: 0 0.5rem;
        font-size: 1.2rem;
    }
}
.right {
    h1 {
        font-size: 1.2rem;
    }
}
@media only screen and (max-width: 1500px) {
    .nav-bar-content {
        width: 80%;
    }
}
@media only screen and (max-width: 1100px) {
    .nav-bar-content {
        width: 90%;
    }
    .left,
    .middle {
        h1 {
            font-size: 1rem;
        }
    }
    .nav-bar {
        .green-cart {
            width: auto;
            padding: 0 1rem;
        }
        .left {
            width: 40%;
            img {
                width: 5rem;
                height: 5rem;
            }
        }
        .middle {
            width: 40%;
        }
        .right {
            width: 20%;
        }
    }
}
@media only screen and (max-width: 800px) {
    .nav-bar-content {
        width: 100%;
    }
    .nav-bar {
        .green-cart {
            padding: 0 0.5rem;
            img {
                width: 1.5rem;
                height: 1.5rem;
            }
        }
        .left {
            img {
                width: 4rem;
                height: 4rem;
            }
        }
    }
}
@media only screen and (max-width: 570px) {
    .nav-bar {
        .green-cart {
            padding: 0 0.5rem;
            h1 {
                display: none;
            }
            img {
                width: 1.5rem;
                height: 1.5rem;
                margin: 0;
            }
        }
        .left,
        .middle,
        .right {
            h1 {
                margin: 0 0.2rem;
                font-size: 0.7rem;
            }
        }
        .left{
            width: auto;
            img {
                width: 3rem;
                height: 3rem;
            }
        }
        .middle {
            width: auto;
        }
        .right {
            width: auto;
        }
    }
    
}
