.ordering{
    width:100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 2rem;
}
.ordering-content {
    background-color: white;
    border: 0;
    border-radius: 10px;
    @include flex(center,center,column);
    width: auto;
}
.ordering-form {
    width: 100%;
    height: 80%;
    @include flex(flex-start,flex-start,column);
    input {
        width: 15rem;
        height: 1.5rem;
        background-color: $inputs-bg;
        border: 1px solid $main-color;
        margin-bottom: 1rem;
        border-radius: 5px;
        padding: 0 0.5rem;
        &:focus {
            background-color: white;
        }
    }
}
#order-button,
.ordering button {
    width: 4rem;
    height: 1.7rem;
    background-color: $main-color;
    color: white;
    @include flex();
    font-size: 1rem;
    border: 1px solid black;
    border-radius: 5px;
    transition: background-color 500ms;
    &:hover {
        cursor: pointer;
        background-color: $second-color;
    }
}
#order-button {
    width: 8rem;
}
.ordering {
    button {
        margin-top: 1rem;
    }
    p {
        margin: 0;
        margin-bottom: 1rem;
        color: $second-color;
    }
    h2,
    p {
        margin: 1rem 0;
    }
    p {
        margin-bottom: 0;
    }
    input {
        margin: 0;
        margin-top: 1rem;
    }
}
.ordering-line,
.ordering-line2{
    display: flex;
    width: 100%;
    .left-side,
    .right-side {
        display: flex;
        align-items: center;
        width: 50%;
    }
    .left-side {
        justify-content: flex-start;
    }
    .right-side {
        justify-content: flex-end;
    }
}
.ordering-items {
    width: 60rem;
    @include flex(center,center,column);
}
.ordering-item {
    width: 100%;
    display: flex;
    height: 5rem;
    border: 1px solid black;
    .item {
        width: 20%;
        @include flex();
        img {
            width: 3rem;
            height: 3rem;
        }
        h1 {
            font-size: 1rem;
        }
    }
}
#title-row {
    background-color: black;
    height: 3rem;
    border-bottom: 1px solid $main-color;
    .item {
        height: 3rem;
    }
    h1 {
        color: white;
    }
}
#x {
    border: 0;
    background-color: $main-color;
    height: 1rem;
    width: 1rem;
    clip-path: polygon(
        20% 0%,
        0% 20%,
        30% 50%,
        0% 80%,
        20% 100%,
        50% 70%,
        80% 100%,
        100% 80%,
        70% 50%,
        100% 20%,
        80% 0%,
        50% 30%
    );
}
.order {
    margin-top: 1rem;
}

@media only screen and (max-width: 1400px) {
    .ordering-item,
    .ordering-items,
    .ordering-line{
        width:40rem;
    }
    .ordering-item{
        height:3.5rem;
    }
    .ordering{
        p{
            margin: 0.5rem 0;
        }
        h2{
            margin: 0;
        }
    }
    .ordering-line2{
        margin: -0.8rem 0;
    }
}
@media only screen and (max-width: 800px) {
    .ordering-item,
    .ordering-items,
    .ordering-line{
        width:30rem;
    }
    .ordering-item,
    .ordering-items{
        .item{
            h1{
                font-size: 0.7rem;
            }
        }
    }
}
@media only screen and (max-width: 600px) {
    .ordering-item,
    .ordering-items,
    .ordering-line{
        width:20rem;
    }
    .ordering-item,
    .ordering-items{
        .item{
            h1{
                font-size: 0.6rem;
            }
        }
    }
}