<div class="ordering" ng-show="logedAc!==''" ng-controller="ordering-controller">
    <div class="ordering-content" ng-show="part==='2'">
        <div class="ordering-form">
            <h2>Contact Info</h2>
            <input ng-model="email" ng-focus="focusFunc($event)" ng-blur="blurFunc($event,'Email Address')">
            <p ng-show="emailP">Invalid email</p>
            <input ng-model="city" ng-focus="focusFunc($event)" ng-blur="blurFunc($event,'City Name')">
            <p ng-show="cityP">Invalid city name</p>
            <input ng-model="postalCode" ng-focus="focusFunc($event)" ng-blur="blurFunc($event,'Postal Code')">
            <p ng-show="postalCodeP">Invalid postal code</p>
            <input ng-model="street" ng-focus="focusFunc($event)" ng-blur="blurFunc($event,'Street Name')">
            <p ng-show="streetP">Invalid street name</p>
            <input ng-model="homeNumber" ng-focus="focusFunc($event)" ng-blur="blurFunc($event,'Home Number')">
            <p ng-show="homeNumberP">Invalid home number</p>
            <input ng-model="phone" ng-focus="focusFunc($event)" ng-blur="blurFunc($event,'Phone Number')">
            <p ng-show="phoneP">Invalid phone number</p>
            <div class="ordering-line">
                <div class="left-side">
                    <button ng-click="changingPart('1')">Previous</button>
                </div>
                <div class="right-side">
                    <button ng-click="finishOrder()">Finish</button>
                </div>
            </div>
        </div>
    </div>
    <div class="ordering-content" ng-show="part==='1'">
        <div class="ordering-items">
            <div class="ordering-item" id="title-row">
                <div class="item">
                    <h1>Image</h1>
                </div>
                <div class="item">
                    <h1>Name</h1>
                </div>
                <div class="item">
                    <h1>Instrument</h1>
                </div>
                <div class="item">
                    <h1>Brand</h1>
                </div>
                <div class="item">
                    <h1>Price</h1>
                </div>
                <div class="item">
                    
                </div>
            </div>
            <div class="ordering-item" ng-repeat="item in cart">
                <div class="item">
                    <img ng-src="{{item.img}}">
                </div>
                <div class="item">
                    <h1>{{item.name}}</h1>
                </div>
                <div class="item">
                    <h1>{{item.instrument}}</h1>
                </div>
                <div class="item">
                    <h1>{{item.brand}}</h1>
                </div>
                <div class="item">
                    <h1>{{item.price | currency: '€'}}</h1>
                </div>
                <div class="item">
                    <button ng-click="deleteItem(key)" id='x'></button>
                </div>
            </div>
            <div class="ordering-line">
                <div class="left-side">
                </div>
                <div class="right-side">
                    <button ng-click="changingPart('2')">Next</button>
                </div>
            </div>
        </div>
        
    </div>
</div>
<div class="ordering" ng-show="logedAc===''">
    <h2>You are not logged</h2>
</div>